<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">
    <title>Working With Fetch</title>
</head>
<body>
    <main id="app">
        <h1>My Awesome Team</h1>
        <header class="main-header">
        </header>

        <h2 class="team-blurb">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam dolorum repellendus velit pariatur ad labore, rem architecto inventore? Officiis tenetur molestias distinctio, provident non labore porro obcaecati nesciunt molestiae quas?
            
            Ipsum accusantium adipisci incidunt error, expedita porro explicabo fugit excepturi quibusdam illum qui consequuntur veritatis, veniam ducimus sit. Quam vel tempore assumenda nihil? Adipisci quis ad magnam quas exercitationem sequi!
        </h2>

        <!-- this is where our dynamic data will go -->
        <section id="team-members">
            <thumb 
                v-on:showdata="popLightBox" 
                v-for="item in portfolioData" 
                :piece="item" 
                :key="item.id">
            </thumb>
        </section>

        <button @click="toggleLightbox">Show Lightbox</button>

        <section class="lightbox" :class='{ visible: isVisible }'>
            <h1 class="port_title"></h1>
        </section>
        <!-- <section v-if="isVisible">
            <h1 class="port_title">{{ currentPortfolioData.name }}</h1>
            <p>peek !</p>
        </section> -->
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>